.container-padding() {
  padding: 48px;
}

.max-wdith() {

  @media (min-width: 768px) {
    max-width: 1050px;
  }
}

.profile,
.profile-posts {
  .max-wdith();
  .container-padding();
}

.profile {

  .follow-button,
  .edit-button {
    position: absolute;
    right: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
  }

  .follow-count {
    color: rgb(150, 150, 150);

    span {
      cursor: pointer;
    }
  }
}

.profile-item-active {
  background: #e7f3ff !important;
  color: #2592f6 !important;

  svg {
    fill: #2592f6 !important;
  }
}
