.space() {
  margin-top: 50px !important;
}

.dashboard .content-container {
  margin-left: 200px;
  .space();
}

.dashboard .sidebar {
  .space();
}

.menu-item-active {
  background: #e7f3ff !important;
  color: #2592f6 !important;

  svg {
    fill: #2592f6 !important;
  }
}
