@import '../../styles/themes/medium.less';
@import '../../styles/base/_Typography.Mixin.less';

.comment-user {
  color: @primary-theme-color;
}

.comment-submit {
  background: @primary-theme-color !important;
  border-radius: 24px;
  color: #fff !important;
  width: 100px;
  .font-size-m();
}
