@import '../../styles/themes/medium.less';
@import '../../styles/base/_Typography.MixIn.less';

.comment-user {
  color: #607d8b;
}

.comment-submit {
  background: #ffe500 !important;
  border-radius: 3px;
  color: #928d5f !important;
  width: 100px;
  .font-size-m();
}
