.article-list-item-wrap {
  padding: 20px;
  transition: box-shadow 0.2s;
}

.article-item-shadow {
  //  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  }
}

.article-list-item-title {
  color: #323232;
}

.article-list-item-paragraph {
  color: #767676;
}

.not-found {
  margin-top: 2rem;

  &-text {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
